@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}
*{
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background:#edeef0;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }


   .main-conteiner {
    display: flex;
    flex-wrap: wrap;
  }
   .section {
    width: 50%;
  }

 
  h1 img {
    vertical-align: middle;
  }
  
  
   .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
   .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px; 
    line-height: 50px;
    transition: .3s;
  }
